<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Spring Security Example </title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <div class="container">
            <form th:action="@{/login}" method="post">
                <p th:if="${param.error}">社員番号とパスワードの組み合わせが正しくありません。</p>
                <div>
                    <label><input type="text" name="employee_no" placeholder="社員番号"></label>
                </div>
                <div>
                    <label> <input type="password" name="password" placeholder="パスワード"></label>
                </div>
                <div>
                    <input type="submit" value="ログイン"/>
                </div>
            </form>
	    </div>
    </body>
</html>