<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <title layout:title-pattern="$CONTENT_TITLE - 打刻システム">打刻システム</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
		<h1>部署一覧<h1>
	<div class ="search-department">
		<label>キーワード</label>
			<input type="text">
			<button type="submit">検索</button>
			<button type="subnit">クリア</button>
			<button type="submit"><a th:href="@{/department/create}">部署新規追加</a></button>
			<table>
			<tr th:each="department : ${departmentList}">
            <td th:text="${department.nameJp}"></td>
			<td><button type="submit"　><a th:href="@{/department/edit/{id}(id=${department.id})}">編集</a></button></td>
            </tr>
			</table>
    </body>
</html>
